/passo-a-passo-1/nbproject/private/
/passo-a-passo-1/build/
/lista-exe-simples-classes/ConverteTemp/nbproject/private/
/lista-exe-simples-classes/ConverteTemp/build/
/lista-exe-simples-classes/Imc/nbproject/private/
/lista-exe-simples-classes/Media/nbproject/private/
/lista-exe-simples-classes/Media/build/
/lista-exe-simples-classes/Imc/build/
/lista-exe-vetor-modificadores-construtor/Media/nbproject/private/