/passo-a-passo-1/nbproject/private/
/passo-a-passo-1/build/
/lista-exe-simples-classes/ConverteTemp/nbproject/private/
/lista-exe-simples-classes/ConverteTemp/build/
/lista-exe-simples-classes/Imc/nbproject/private/
/lista-exe-simples-classes/Media/nbproject/private/
/lista-exe-simples-classes/Media/build/
/lista-exe-simples-classes/Imc/build/
/lista-exe-vetor-modificadores-construtor/Media/nbproject/private/
/lista-exe-vetor-modificadores-construtor/Media/build/
/lista-exe-simples-classes/Media/dist/
/media-aluno-simples/nbproject/private/
/media-aluno-simples/build/
/lista-exe-simples-classes/MediaSimples/nbproject/private/
/lista-exe-simples-classes/MediaSimples/build/
/TaxiAereo_v1/nbproject/private/
*.vpp.bak*
*.vpp.lck
/TaxiAereo_v1/build/
